<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEJo5NibCZAhGMcaRiG0MvVxyiAovE1Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>56911217429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shecker_partners</string>
	<key>PROJECT_ID</key>
	<string>alash-sheker</string>
	<key>STORAGE_BUCKET</key>
	<string>alash-sheker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56911217429:ios:9e37430a90bb75ae9d1f1c</string>
	<key>DATABASE_URL</key>
	<string>https://alash-sheker-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>